dashinfer
av
numpy==1.24.3
requests==2.32.3
nvtx==0.2.10
transformers>=4.45.0
cachetools>=5.4.0
six
tiktoken
openai==1.52.2
shortuuid
fastapi
pydantic_settings
uvicorn
cmake==3.22.6 
modelscope
aiohttp
onnx
